@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

html, body {
    width: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', 'Nunito', 'Muli', 'PT Sans', 'Raleway', 'sans-serif';
}

.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}

header div.shadow {
    position: absolute;
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, .9);
    z-index: 0;
}

header div.email form button {
    padding: 0;
}

div.body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    background-color: #fff;
}

header {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header div.left-side nav {
    display: flex;
    flex-direction: row;
    z-index: 10;
}

header div.container {
    z-index: 9;
    color: #272727;
    top: 12%;
    text-align: center;
}

header div.container h1 {
    font-weight: 600;
    font-size: 4em;
}

header div.right-side img#logo {
    height: 48px;
    width: 48px;
    margin: 60% 0% 0% 100%;
    z-index: 10;
}

header div.right-side {
    z-index: 10;
}

header div.left-side {
    z-index: 10;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    font-family: 'Source Sans Pro', 'Nunito', 'Muli', 'PT Sans', 'Raleway', 'sans-serif';
    font-size: 14px;
    text-decoration: none;
    color: #fefefe;
    z-index: 10;
    font-weight: 500;
}

header div.left-side nav ul li a {
    font-family: 'Source Sans Pro', 'Nunito', 'Muli', 'PT Sans', 'Raleway', 'sans-serif';
    font-size: 16px;
    text-decoration: none;
    color: #272727;
    z-index: 10;
    font-weight: 900;
}

header div.left-side nav ul li a:hover {
    color: #ED5453;
    border-bottom: solid 2px #ED5453;
    z-index: 10;
    padding-bottom: 10px;
}

/* Desktop Styles */

header.desktop div.left-side nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
}

header.desktop div.left-side nav ul li {
    margin: 4% 5% 1% 0;
    list-style: none;
}

header.desktop div.left-side nav ul li#back-btn {
    display: none;
}

header.desktop div.left-side a#menu-btn {
    display: none;
}

header.desktop div.container div.email form input {
    border-radius: 500px;
    background: transparent;
    border: solid 1px #ccc;
    font-size: 12px;
    padding: 20px;
}

div#teen-section div#top {
    background-image: url("../img/bg1.png");
}

div#company-section div#top {
    background-image: url("../img/bg2.png");
}

div#adult-section div#top {
    color: #333;
    background-color: #FAFAFA;
}

div#adult-section div#top hr {
    border-color: #aaa;
}

div#top {
    color: #fff;
}

.btn, a.btn {
    padding: 15px;
    border-radius: 500px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #272727;
    background-color: #fff;
    margin-left: 1%;
    border: none;
    transition: all .5s;
    box-shadow: 1px 1px 3px #ddd;
    text-decoration: none;
}

.btn:hover, a.btn:hover {
    color: #fff;
    background-color: #ED5453;
    transition: all .5s;
}

btn.transparent, a.btn.transparent {
    background-color: #B45023;
    background-image: none;
    border: solid 1px #B45023;
    box-shadow: none;
    color: #fff;
    padding: 0 3%;
    font-size: 10px;
}

.btn.transparent:hover, a.btn.transparent:hover {
    background-color: #fff;
    color: #B45023;
    border: solid 1px #fff;
}

header.desktop div.container div.email form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div.container div.email form input {
    border-radius: 500px;
    background: transparent;
    border: solid 1px #272727;
    font-size: 12px;
    padding: 20px;
}

header.desktop div.container div.socials a {
    margin: 0 5% 0 0;
    color: #272727;
    transition: all .3s;
}

header.desktop div.container div.socials a i {
    font-size: 18px;
}

header.desktop div.container div.socials a:hover {
    color: #ED5453;
    transition: all .3s;
}

form a.btn {
    margin: 1% 0 3% 0;
}

/* Mobile Styles */

header.mobile div.left-side nav  {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    min-height: 100%;
    height: auto;
    width: 100%;
    display: none;
}

header div.right-side {
    z-index: 10;
}

header.mobile div.right-side img#logo {
    height: 10rem;
    width: 10rem;
    margin: 8rem 0% 0% 8rem;
    z-index: 10;
}

header.mobile div.left-side {
    display: flex;
    justify-content: flex-end;
}

header.mobile div.left-side a#menu-btn {
    z-index: 10;
    margin: 10rem 8rem 0 0;
    text-decoration: none;
    color: #eee;
}

header.mobile div.left-side a#menu-btn i {
    font-size: 7rem;
    z-index: 10;
}

header.mobile div.left-side nav ul li {
    text-align: center;
    margin-top: 8%;
}

header.mobile div.left-side nav ul li a {
    width: 100%;
    font-size: 60px;
}

header.mobile div.left-side nav ul li#back-btn a {
    font-size: 40px;
}

header.mobile div.left-side nav ul li#back-btn a i {
    margin-right: 30px;
}

header.mobile div.container h1 {
    font-size: 4.9em;
}

header.mobile div.container h5 {
    font-size: 3em;
}

header.mobile div.container h1, header.mobile div.container h5 {
    width: 100%;
    text-align: center;
}

header.mobile div.container div.email form input {
    border-radius: 0;
    background: transparent;
    border: solid 1px #333;
    width: 100%;
    height: 10%;
    font-size: 30px;
    padding: 0 20px;
}

header.mobile div.container div.email form button {
    border-radius: 0;
    font-size: 20px;
    font-weight: lighter;
    text-transform: initial;
    color: #eee;
    margin-left: 1%;
    border: none;
    width: 50%;
    height: 7%;
    transition: all .5s;
}

header.mobile div.container div.socials {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

header.mobile div.container div.socials a {
    margin: 0 10% 0 0;
    color: #eee;
}

header.mobile div.container div.socials a i {
    font-size: 3em;
}

header.mobile div.container div.socials a i:hover {
    color: #D26B36;
}

a#last-social {
    margin-right: 0;
}

/* End Mobile */

div#side11 {
    height: 100%;
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div#side12 {
    padding: 5% 3% 5% 3%;
}

/* Teen Section */

div.section div#top {
    padding: 8% 5%;
    text-align: center;
    font-family: Nunito, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FAFAFA;
}

div.section div#top h6 {
    font-size: 17px;
}

div.section div#top hr {
    width: 3%;
    border: solid 1px #FAFAFA;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

div.section div#main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.section div#main div.shadow {
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    width: auto;
    height: auto;
    background-color: rgba(10, 10, 10, .5);
    z-index: 0;
    padding-bottom: 5%;
}

div.section div#main div.shadow p {
    padding: 10% 10% 0 10%;
    font-weight: lighter;
    font-size: 14px;
    line-height: 2em;
}

div.section div#main div.packages {
    padding: 5% 10% 0 10%;
}

div.section div#main div.packages h5 {
    margin: 0;
}

div.section div#main div.packages hr.title-hr {
    margin: 2% 0 5% 0;
    border: solid 1px #ccc;
    width: 10%;
}

div.section div#main div.shadow div.slider {
    height: 4em;
    font-size: 1.3em;
    padding: 0 10% 0 10%;
}

#suscribe1 {
    margin: 40% 0 0 5%;
}

#suscribe4 {
    margin: 40% 0 0 0;
}

#suscribe2 {
    margin-top: 25%;
}

#suscribe2, #suscribe3 {
    width: 80%;
    margin-left: 20%;
}

div.package {
    background-color: #fff;
    color: #111;
    box-shadow: #444 1px 1px 5px;
    text-align: center;
    width: 20%;
    padding: 2%;
    border-radius: 5px;
    transition: all .5s;
}

div.package:hover {
    background-color: #eee;
    transition: all .5s;
}

div.package h6 {
    font-size: 30px;
    margin: 0;
}

div.package hr {
    margin: 5% 0 8% 0;
    border: solid 1px #ccc;
    width: 50%;
    position: relative;
    left: 26%;
}

div.section div#main div.packages div.package p {
    padding: 0;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
}

/* Mobile Content Styles */

div#container.mobile div.section div#top {
    height: 20%;
}

div#container.mobile div.section div#top h5 {
    font-size: 6em;
    margin-top: 13%;
}

div#container.mobile div.section div#top h6, div#container.mobile div#top hr {
    display: none;
}

div#container.mobile div.section div#main div.shadow {
    display: flex;
    flex-direction: column;
    font-size: 2.8em;
}

div#container.mobile div.section div#main div.shadow div.four {
    text-align: center;
    margin: 0;
}

div#container.mobile div.section div#main div.shadow div.eight, div#container.mobile div.section div#main div.shadow div.four {
    width: 100%;
}

div#container.mobile div.section div#main div.shadow div.eight p {
    font-size: .9em;
    text-align: justify;
}

div#container.mobile div.section div#main div.shadow div.four a#suscribe1,
div#container.mobile div.section div#main div.shadow div.four a#suscribe2,
div#container.mobile div.section div#main div.shadow div.four a#suscribe3,
div#container.mobile div.section div#main div.shadow div.four a#suscribe4 {
    margin: 7% 0 0 5%;
    padding: 1em 1em 2.2em 1em;
    font-size: .6em;
}

div#container.mobile div.section div#main div.shadow div.four a#suscribe2 {
    margin-top: 7%;
    width: 60%;
}

div#container.mobile div.section div#main div.shadow div.four a#suscribe3 {
    margin: 2% 0 0 5%;
    width: 60%;
}

div#container.mobile div.section div#main div.shadow div.four a#suscribe4 {
    margin: 5% 0 0 0;
}

div#container.mobile div.section div#main div.shadow div.eight {
    margin: 0;
    padding: 2%;
}

div#container.mobile div.section div#main div.shadow div.eight div.packages {
    margin: 0;
    position: relative;
}
div#container.mobile div.section div#main div.shadow div.eight div.packages h5 {
    font-size: 1.5em;
    margin: 0;
}

div#container.mobile div.section div#main div.shadow div.eight div.packages hr {
    margin: 2% 0 5% 10%;
}

div#container.mobile div.section div#main div.shadow div.eight div.packages div.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#container.mobile div.section div#main div.shadow div.eight div.packages div.package {
    text-align: center;
    width: 80%;
    margin: 2%;
}

div#container.mobile div.section div#main div.shadow div.eight div.packages div.package h6 {
    font-size: 1.4em;
    margin: 0;
}

div#container.mobile div.section div#main div.shadow div.eight div.packages div.package hr {
    margin: 2%;
}

div#container.mobile div.section div#main div.shadow div.eight div.packages div.package p {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

footer {
    background-color: #2a2a2a;
    color: #eee;
    padding: 6% 0;
}

footer div h5 {
    font-size: 1.2em;
    font-weight: 700;
}

footer div p {
    font-size: 1em;
    color: #ccc;
}

footer div.socials a {
    margin: 0 8% 0 0;
    color: #fefefe;
    transition: all .3s;
}

footer div.socials a i {
    font-size: 16px;
}

footer div.socials a:hover {
    color: #ED5453;
    transition: all .3s;
}

footer div.four form input {
    background-color: transparent;
    border: solid 1px #555;
    width: 100%;
    border-radius: 2px;
}

footer div.four form button {
    padding: 0 8%;
    border-radius: 2px;
    box-shadow: none;
    background-color: #ED5453;
    color: #fff;
    transition: all .4s;
}

footer div.four form button:hover {
    background-color: #fff;
    color: #ED5453;
    transition: all .4s;
}

div.message {
    background-color: #D5F1FF;
    padding: 1.2%;
    border-radius: 3px;
    margin: 4% 0;
}

div.message p {
    margin: 0;
}

.fullBg {
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}